


body{
    margin: 0;
    background-color: #0A1317;
}


.username{

        height: 60px;
        width: 600px;
        border-width: 2.3px;
        border-radius: 13px;
        border-style: solid;
        font-family: arial;
        font-size: 16px;
        margin-left: 140px;
        margin-right: 140px;
        background: none;
        color: #dae0e2;
        display: block;
        margin-bottom: 20px;
        text-indent: 20px;
}

.login_button{
        background-color: rgb(20, 106, 204);
        color: whitesmoke;
        border: none;
        height: 55px;
        width: 600px;
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
        margin-left:140px ;
        margin-right: 140px;
        cursor: pointer;
        display: block;
        cursor: pointer;
        
       transition: box-shadow 0.15s,font-size 0.15s;
}
p{
    color: whitesmoke;
    padding-left: 140px;
    font-family: arial;
    
}
.reset-your-password{
    color: rgb(11, 114, 233) ;
    padding-left: 2px;
}
.reset-your-password:hover{

text-decoration:underline;

}
.back-button{
    background: none;
    margin-left: 130px;
    border: none;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 40px;
    width:30px;


    
}
.back-button:hover{
    border-radius: 20px;
    background-color:#263d47 ;
   
}

.peras{

         display: inline;
         color: rgb(202, 189, 189);
         font-family: arial;
         font-size: 12px;
         padding: 10px;
         font-weight: normal;

        }
         
        .peras:hover{
         text-decoration: underline;
         cursor: pointer;

        }